name: CICD Pipeline

on:
  push: 
    branches:
      - main

jobs:
  Test:
    name: Perform application testing.
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'
      
      - name: Install Dependencies
        run: npm install

      - name: Run tests and save results
        run: |
          npm test > test-results.txt || true

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with: 
          name: test-results
          path: test-results.txt 

  # Deploy:
