name: CICD Pipeline

on:
  push: 
    branches:
      - main

jobs:
  Test:
    name: Perform application testing.
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'
      
      - name: Install Dependencies
        run: npm install

      - name: Run tests and save restults
        run: |
          echo "No tests defined yet" > test-restults.txt || true




  # Deploy:
